extends layouts/global

block head2
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rambla:400,700|Source+Sans+Pro:400,600')

block content
  #content
    nav
      .wrapper
        h1.logo Borg Documentation
        ul.right
          li
            a(href='https://github.com/mikesmullin/borg') Github
          li.toc
            a(href='#') Docs
          li
            a(href='#') Contribute
          li
            a(href='#') Credits
        .clear

    header
      .wrapper
        h2 Borg Documentation (v#{version})
        p
          | This information is designed to make you immediately productive with 
          strong: a(href="https://www.npmjs.com/package/borg") Borg v#{borg_version}
          | .
          br
          | When additional versions are released, previous versions will be linked here.
          br
          | Let&rsquo;s get started!

    article
      .wrapper
        h2 1. Getting Started
        h3
          | 1.1. Install 
          a(href="http://nodejs.org") Node.JS
          |  (using 
          a(href="https://github.com/creationix/nvm") NVM 
          | is recommended)
        pre: code
          | curl https://raw.github.com/creationix/nvm/master/install.sh | sh
          | nvm install #{node_version} # latest stable preferred
          | nvm use #{node_version}
          | nvm alias default #{node_version}

        h3
          | 1.2. Install 
          a(href="https://github.com/mikesmullin/borg") Borg
        pre: code
          | npm install borg -g

        h3 1.3. Generate a New Project
        pre: code
          | borg init Devops
          | cd Devops/
        p
          | Or, clone an 
          a(href="https://github.com/mikesmullin/borg-sample-project") existing
          |  one.

        h3 1.4. Explore Help
        pre: code
          | borg help

        h2 2. Cloud Integration
        p
          | Though abstracted to integrate with any cloud provider,
          | only 
          a(href="http://aws.amazon.com/") Amazon Web Services
          |  integration is implemented at present.

        h3 2.1 Amazon Web Services
        p This integration depends on the AWS CLI utility being installed:
        pre: code
          | cd /tmp
          | wget https://s3.amazonaws.com/aws-cli/awscli-bundle.zip
          | unzip awscli-bundle.zip
          | sudo ./awscli-bundle/install -i /usr/local/aws -b /usr/local/bin/aws
          | aws --version # test
        p and configured:
        pre: code
          | aws configure
          | Access Key ID: your-aws-access-key-id
          | Secret Access Key: your-aws-secret-key
        p
          | For more information, please see:
          br
          a(href="http://docs.aws.amazon.com/AWSEC2/latest/CommandLineReference/set-up-ec2-cli-linux.html") Setting Up the Amazon EC2 Command Line Interface Tools



        h2 3. Contributing
        p Your contributions are welcome via Github.com.

        h3 3.1 Issuing a Pull Request
        ol
          li
            p
              | fork and clone 
              a(href='https://github.com/mikesmullin/borg') https://github.com/mikesmullin/borg
          li edit to heart&rsquo;s content
          li
            p publish to your fork:
            pre: code git commit && git push
          li issue pull request to official fork, and we will review and approve or provide feedback.

    aside
      .wrapper
        .content
          h3 Chapters
          ol
            li
              a(href='#') Getting Started
              ul
                li
                  a(href='#') Install Node.JS
                li
                  a(href='#') Install Borg
                li
                  a(href='#') Generate a New Project
                li
                  a(href='#') Explore Help
            li
              a(href='#') Cloud Integration
              ul
                li
                  a(href='#') Amazon Web Services
            li
              a(href='#') Contributing
              ul
                li
                  a(href='#') Issuing a Pull Request

    footer
      .wrapper
        p
          | This documentation is licensed 
          a(href='http://creativecommons.org/licenses/by-sa/3.0/') Creative Commons Attribution-Share Alike 3.0
        p
          | "Borg" is a service mark of 
          a(href="http://smullindesign.com") Smullin Design
          | .
